:root {
  --blue1: #E6F4FF;
  --blue2: #BAE0FF;
  --blue3: #91CAFF;
  --blue4: #69B1FF;
  --blue5: #4096FF;
  --blue6: #1677FF;
  --blue7: #0958D9;
  --blue8: #003EB3;
  --blue9: #002C8C;
  --blue10: #001D66;
  --purple1: #F9F0FF;
  --purple2: #EFDBFF;
  --purple3: #D3ADF7;
  --purple4: #B37FEB;
  --purple5: #9254DE;
  --purple6: #722ED1;
  --purple7: #531DAB;
  --purple8: #391085;
  --purple9: #22075E;
  --purple10: #120338;
  --cyan1: #E6FFFB;
  --cyan2: #B5F5EC;
  --cyan3: #87E8DE;
  --cyan4: #5CDBD3;
  --cyan5: #36CFC9;
  --cyan6: #13C2C2;
  --cyan7: #08979C;
  --cyan8: #006D75;
  --cyan9: #00474F;
  --cyan10: #002329;
  --green1: #F6FFED;
  --green2: #D9F7BE;
  --green3: #B7EB8F;
  --green4: #95DE64;
  --green5: #73D13D;
  --green6: #52C41A;
  --green7: #389E0D;
  --green8: #237804;
  --green9: #135200;
  --green10: #092B00;
  --magenta1: #FFF0F6;
  --magenta2: #FFD6E7;
  --magenta3: #FFADD2;
  --magenta4: #FF85C0;
  --magenta5: #F759AB;
  --magenta6: #EB2F96;
  --magenta7: #C41D7F;
  --magenta8: #9E1068;
  --magenta9: #780650;
  --magenta10: #520339;
  --red1: #FFF1F0;
  --red2: #FFCCC7;
  --red3: #FFA39E;
  --red4: #FF7875;
  --red5: #FF4D4F;
  --red6: #F5222D;
  --red7: #CF1322;
  --red8: #A8071A;
  --red9: #820014;
  --red10: #5C0011;
  --orange1: #FFF7E6;
  --orange2: #FFE7BA;
  --orange3: #FFD591;
  --orange4: #FFC069;
  --orange5: #FFA940;
  --orange6: #FA8C16;
  --orange7: #D46B08;
  --orange8: #AD4E00;
  --orange9: #873800;
  --orange10: #612500;
  --yellow1: #FEFFE6;
  --yellow2: #FFFFB8;
  --yellow3: #FFFB8F;
  --yellow4: #FFF566;
  --yellow5: #FFEC3D;
  --yellow6: #FADB14;
  --yellow7: #D4B106;
  --yellow8: #AD8B00;
  --yellow9: #876800;
  --yellow10: #614700;
  --volcano1: #FFF2E8;
  --volcano2: #FFD8BF;
  --volcano3: #FFBB96;
  --volcano4: #FF9C6E;
  --volcano5: #FF7A45;
  --volcano6: #FA541C;
  --volcano7: #D4380D;
  --volcano8: #AD2102;
  --volcano9: #871400;
  --volcano10: #610B00;
  --geekBlue1: #E7F1F5;
  --geekBlue2: #CFE3EC;
  --geekBlue3: #B6D6E2;
  --geekBlue4: #9EC8D9;
  --geekBlue5: #6EACC5;
  --geekBlue6: #3D91B2;
  --geekBlue7: #0D759F;
  --geekBlue8: #0A5E7F;
  --geekBlue9: #08465F;
  --geekBlue10: #052F40;
  --lime1: #F5F9EE;
  --lime2: #EBF3DE;
  --lime3: #E1EDCD;
  --lime4: #D7E7BC;
  --lime5: #C2DA9B;
  --lime6: #AECE79;
  --lime7: #9AC258;
  --lime8: #7B9B46;
  --lime9: #5C7435;
  --lime10: #2E3A1A;
  --gold1: #FFFBE6;
  --gold2: #FFF1B8;
  --gold3: #FFE58F;
  --gold4: #FFD666;
  --gold5: #FFC53D;
  --gold6: #FAAD14;
  --gold7: #D48806;
  --gold8: #AD6800;
  --gold9: #874D00;
  --gold10: #613400;
}